<div class="modal fade" id="programSavedModal" tabindex="-1" aria-labelledby="programSavedLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-body text-center p-4">
                <div class="display-6 mb-2">✅</div>
                <h5 id="programSavedLabel" class="mb-2">Program successfully added</h5>
                <p class="text-muted mb-0" id="programSavedSubtext"></p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="programSavedOk">OK</button>
            </div>
        </div>
    </div>
</div>
