@model ASI.Basecode.Services.ServiceModels.ProfileViewModel

<div class="section-title mt-3">Personal Information</div>

<div class="row g-4">
    <!-- LEFT: Profile -->
    <div class="col-md-3 d-flex flex-column align-items-start">
        <label for="avatarInput" class="avatar" id="avatarPreview" tabindex="0" role="button" aria-label="Upload profile photo"></label>
        <input class="sr-only" type="file" id="avatarInput" name="ProfilePhotoFile" accept="image/*">
        <small class="tiny-hint mt-1">Click the photo to upload</small>
    </div>

    <!-- RIGHT: Name -->
    <div class="col-md-9">
        <label class="form-label">Name</label>
        <div class="row g-3 uniform-row">
            <!-- LEFT COLUMN: Last Name + First Name -->
            <div class="col-md-6">
                <div class="row g-3">
                    <div class="col-md-6">
                        <input class="form-control" asp-for="LastName" />
                        <div class="caption">(Family Name)</div>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" asp-for="FirstName" />
                        <div class="caption">(First Name)</div>
                    </div>
                </div>
            </div>

            <!-- RIGHT COLUMN: Middle Name + Suffix -->
            <div class="col-md-6">
                <div class="row g-3">
                    <div class="col-md-6">
                        <input class="form-control" asp-for="MiddleName" />
                        <div class="caption">(Middle Name)</div>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" asp-for="Suffix" />
                        <div class="caption">(Suffix)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="section-divider" />

<!-- Home Address -->
<div class="section-title">Home Address</div>
<div class="row g-3">
    <div class="col-12">
        <label class="form-label">Street / House No.</label>
        <input class="form-control" asp-for="HomeAddress" />
    </div>
</div>
<div class="mt-1 row g-3 uniform-row">
    <div class="col-md-3">
        <label class="form-label">Province</label>
        <input class="form-control" asp-for="Province" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Municipality</label>
        <input class="form-control" asp-for="Municipality" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Barangay</label>
        <input class="form-control" asp-for="Barangay" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Tel No. / Mobile</label>
        <input class="form-control" asp-for="MobileNo" />
    </div>
</div>

<hr class="section-divider" />

<!-- Other Details -->
<div class="section-title">Other Details</div>
<div class="row g-3 uniform-row">
    <div class="col-md-3">
        <label class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Place of Birth</label>
        <input class="form-control" asp-for="PlaceOfBirth" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Age</label>
        <input class="form-control" asp-for="Age" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Marital Status</label>
        <input class="form-control" asp-for="MaritalStatus" />
    </div>
</div>

<div class="row g-3 uniform-row mt-0">
    <div class="col-md-3">
        <label class="form-label">Gender</label>
        <input class="form-control" asp-for="Gender" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Religion</label>
        <input class="form-control" asp-for="Religion" />
    </div>
    <div class="col-md-3">
        <label class="form-label">Citizenship</label>
        <input class="form-control" asp-for="Citizenship" />
    </div>
</div>
