<!--StudentDashboard.cshtml-->

@{
    Layout = "~/Views/Shared/Layouts/_MainLayout.cshtml";
    ViewData["Title"] = "Student Dashboard";
    ViewData["PageHeader"] = "Student Dashboard"; // Match layout
}

@section Styles {
    <link rel="stylesheet" href="~/css/main-site.css" />
}

<h2>Welcome Student!</h2>
<p>This is your student dashboard.</p>
